@import url('http://fonts.cdnfonts.com/css/adobe-clean?styles=87103,87100,87093,87097');
.container{
    width: 90vw;
    height: 100vh;
    background-color: white;
    overflow: scroll;
    margin: auto;
    margin-top: 10vh;
    display: grid;
    grid-template: 23rem 18rem 18rem/21rem 28.25rem 28.25rem;
    grid-template-areas: "sidebar header header"
                         "sidebar main main"
                         "sidebar main main";
    padding: 0 4rem 0 4rem;
    box-sizing: border-box;
    row-gap: 5px;
    column-gap: 5px;
    box-shadow: 0 0 10px silver;
}
.sidebar{
    background-color: white;
    grid-area: sidebar;
}
.header{
    background-color: #F7F8F9;
    grid-area: header;
}
.main{
    background-color: white;
    grid-area: main;
}
p{
    font-size: 1.75rem;
    text-align: center;
    font-family: 'Adobe Clean', sans-serif;
    color: #012B55;
    line-height: 36px;
    font-weight: 500;
    margin-bottom: 50px;
}
h4{
    font-weight: 400;
    font-size: 1.125rem;
    text-align: center;
    font-family: 'Adobe Clean', sans-serif;
    color: #597188;

}
.div-header{
    padding: 60px;
}
.div-sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;

}
h1{
    font-weight: 600;
    font-family: 'Adobe Clean', sans-serif;
    color: #012B55;
    font-size: 26px;
    line-height: 55px;
}
h2{
    font-size: 17px;
    font-weight:400;
    font-family: 'Adobe Clean', sans-serif;
    color: #41576D;
    line-height: 5px;
    margin-top: 25px;
    margin-bottom: 20px;
}
h3{
    font-size: 16px;
    font-weight: 300;
    font-family: 'Adobe Clean', sans-serif;
    color: #41576D;
    line-height: 3px;
}
ion-icon{
    font-size: 15px;
    text-align: center;

}
button{
    border-radius: 100%;
    width: 2.1rem;
    height: 2.1rem;
    border: 0;
    cursor:pointer;
    transition-duration: 0.4s;
    background-color: rgba(1, 43, 85, 0.1);

}
.div-button{
    margin-top: 20px;
}
button:hover{
    background-color: silver;
}
